/* -------------- GLOBAL STYLES --------------*/
* html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    margin: 0;
  }
  
  *{
    font-family: 'Michroma', sans-serif;
  }
  img {
    width: 450px;
    margin-right: 10px;
    margin-bottom: 50px;
    border-style: solid;
  }
  * a {
    color: #65A5EC;
    text-decoration: none;
  }
  * a:hover {
    color: rgb(195, 0, 255);
  }
  * a:active {
    color: rgb(61, 0, 117);
  }
  * {
    font-size: 14px;
  }
  h1 {
    font-size: 40px;
    margin-top: 0;
  }
  h2 {
    font-size: 30px;
    margin-top: 0;
  }
  h3 {
    font-size: 20px;
    margin-top: 0
    ;
  }
  .content-wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 40px 0;
  }
/* .grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2%;
  } */

/* -------------- HEADER --------------*/
header {
    background-color: black;
}
header img{
    border-style: none;
    margin: 0;
    background-image: none;
    width: 45%;
}
header .content-wrapper{
    padding: 1.5%;
}


/* -------------- TOP-LEFT --------------*/
#Contact-Info{
    background-color: rgb(195, 195, 195);
    padding: 20px; 
    border-style: solid;
}
#Contact-Info img{
    /* width: 400px;
    margin-left: 25px;
    margin-bottom: 0; */

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    width: 50%;
}
#Contact-Info h2{
    text-align: center;
    font-size: 32px;
    margin: 0px;
}
#Contact-Info ul{
    margin: 0px;
    padding: 0;
}
#Contact-Info li{
  font-size: 15px;
  list-style: none;
}
#Contact-Info a{
    color: #3d638f;
}
#Contact-Info a:hover{
    color: #9858d7;
}

/* -------------- TOP-RIGHT --------------*/
#Name-Paragraph h1{
    text-align: center;
    font-size: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Name-Paragraph p{
  text-align: center;
}
/* -------------- SKILLS AND LANGUAGES --------------*/
.skills-certificates{
  background-color: rgb(205, 205, 205);
}
.skills-certificates h2{
  text-align: center;
  font-size: 50px;
  margin-top: 41.5px;
}
/* .skills-certificates .grid-container{
  display: grid;
  grid-template-columns: 730px 750px;
  gap: 30px;
}
.divider{
  border-style: none groove none none;
} */ 
/* -------------- CERTIFICATES AND ACHIEVEMENTS --------------*/

/* -------------- EDUCATION --------------*/
#Education dt h3{
  font-size: 15px;
}
#Education .educline{
  border-style: none none none solid;
  margin-left: 20px;
}
#Education dl{
  margin-left: 20px;
}
/* -------------- REFERENCE --------------*/
/* -------------- PROJECTS --------------*/
.Featured-Projects h3{
  font-size: 40px;
}

.projects h2{
  font-size: 60px;
  text-align: center;
}
.center {
  text-align: center;
}
.projects img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 50px;
}
.projects{
  text-align: center;
}
/* #GUI{
  display: grid;
  grid-template-columns: 500px 2fr;
  gap: 30px;
} */
/* FEATURED ART */
.background-art{
  background-color: rgb(205, 205, 205) ;
  display: none;
}
.art{
  text-align: center;
}
.art h2{
  margin-bottom: 0;
}
.art p{
  margin-top: 0;
}
.background-art{
  align-content: center;
}

/* FOOOTER */
footer{
  background-color: black;
  color: white;
}
/* footer ul{
  display: grid;
  grid-template-columns: repeat(5, 1fr) ;
} */
footer h3{
  text-align: center;
}
footer li{
  text-align: center;
  list-style: none;
}

@media screen and (min-width:1235px) {
  * {
    font-size: unset;
  }
  p {
    font-size: 20px;
  }
  h1 {
    font-size: 55px;
    margin-top: 0;
  }
  h2 {
    font-size: 35px;
    margin-top: 0;
  }
  h3 {
    font-size: 25px;
    margin-top: 0
    ;
  }
  .content-wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 3% 0;
  }
.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2%;
  }
  img {
    width: 450px;
    margin-right: 10px;
    margin-bottom: 50px;
    border-style: solid;
  }
  /* Header */
  header img{
    border-style: none;
    margin: 0;
    background-image: none;
    width: 20%;
  }
  header .content-wrapper{
    padding: 0.8%;
  }

  /* CONTACT INFO */
  #Contact-Info img{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  #Contact-Info h2{
    text-align: center;
    font-size: 32px;
    margin: 10px;
  }
  #Contact-Info ul{
    margin: 0px;
  }
  #Contact-Info li{
    font-size: 20px;
  }
  #Name-Paragraph h1{
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: unset;
    line-height: 120%;
  }
  #Name-Paragraph p{
    text-align: unset;
  }
  /* SKILLS AND CERTIFICATES */
  .skills-certificates{
    background-color: rgb(205, 205, 205);
  }
  .skills-certificates .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
  }
  .divider{
    border-style: none solid none none;
  }
  #Education dl{
    margin-left: 20px;
  }
  .skills-certificates h2{
    text-align: unset;
    font-size: 32px;
  }
  /* PROJECT */
  #GUI{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .projects img{
    display: unset;
    margin-left: unset;
    margin-right: unset;
    width: 90%;
    margin-top: unset;
  }
  .projects{
    text-align: unset;
  }
  /* FOOTER */
  footer ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
  }
}
